.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.linkBar {
  align-items: flex-start;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  max-width: fit-content;
  margin-left: 2.5%;
  border-right: 2.5px solid rgb(18, 159, 224);
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: 2.5%;
}
